

<div class="page-content">
    <div class="row">
        <div class="col-lg-3 col-md-6 col-xs-12">
            <div class="widget">
                <div class="widget-header">
                    <div class="widget-icon green pull-left">
                        <i class="fa fa-users"></i>
                    </div>
                    <div class="title" ng-bind="users.length"></div>
                    <div class="comment">Users</div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-xs-12 col-md-offset-3">
            <div class="widget">
                <div class="widget-header">
                    <div class="widget-icon green pull-left">
                        <i class="fa fa-users"></i>
                    </div>
                    <div class="title" ng-bind="widgets.length"></div>
                    <div class="comment">Widgets</div>
                </div>
            </div>
        </div>
    </div>

    <!-- Tables -->
    <div class="row">

        <!-- Users listing -->
        <div class="col-lg-6">
            <div class="widget">
                <div class="widget-header">Users
                    <div class="pull-right">
                        <input type="text" placeholder="Filter by name" class="form-control input-sm" ng-model="filter.userName"></div>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="text-center">ID</th>
                                <th>Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="user in filteredUsers = (users | filter: filter.userName)">
                                <td class="text-center" ng-bind="user.id"></td>
                                <td>
                                    <a href="#/user/{{user.id}}" ng-bind="user.name"></a>
                                </td>
                            </tr>
                            <tr ng-show="filteredUsers.length === 0">
                                <td colspan="2">
                                    <div class="alert alert-warning" role="alert">
                                        There is no users avaiable with the "{{filter.userName}}" name.
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div><!-- End Users -->

        <!-- Widget listing -->
        <div class="col-lg-6">
            <div class="widget">
                <div class="widget-header">Widgets
                    <div class="pull-right">
                        <input type="text" placeholder="Filter by name" class="form-control input-sm" ng-model="filter.widgetName"></div>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="text-center">ID</th>
                                <th>Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="widget in filteredWidgets = (widgets | filter: filter.widgetName)">
                                <td class="text-center" ng-bind="widget.id"></td>
                                <td>
                                    <a href="#/widget/{{ widget.id }}" ng-bind="widget.name"></a>
                                </td>
                            </tr>
                            <tr ng-show="filteredWidgets.length === 0">
                                <td colspan="2">
                                    <div class="alert alert-warning" role="alert">
                                        There is no widgets avaiable with the "{{filter.widgetName}}" name.
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div><!-- End Widgets -->

    </div><!-- End Tables -->
</div>
