<!-- Create/Edit -->
<div class="row">

    <!-- Widget listing -->
    <div class="col-lg-12">
        <div class="widget">
            <div class="widget-header">Create/Edit Template</div>
            <div class="widget-body">
                <form name="widgetCreateForm" id="widgetCreateForm" class="form-horizontal" method="post" ng-submit="AddWidget(newWidget)" novalidate>

                    <legend>Create Widget</legend>

                    <!-- Name-->
                    <div class="controls">
                        Name
                        <input id="widget_name" name="widget_name" type="text" placeholder="foo-bar" class="input-medium"
                               ng-model="newWidget.name" required>
                    </div>

                    <!-- Price -->
                    <div class="controls">
                        <div class="input-prepend">
                            Price
                            <span class="add-on">$</span>
                            <input id="widget_price" name="widget_price" class="input-medium" placeholder="0.00" type="text"
                                   ng-model="newWidget.price" required
                                   ng-pattern="/^[0-9]+\.?[0-9]*$/">
                        </div>
                    </div>

                    <!-- Color -->
                    <div class="controls">
                        Color
                        <select id="widget_color" name="widget_color" class="input-large" ng-model="newWidget.color" required>
                            <option value="red">red</option>
                            <option value="purple">purple</option>
                            <option value="black">black</option>
                            <option value="green">green</option>
                            <option value="magenta">magenta</option>
                            <option value="white">white</option>
                            <option value="depends on the viewing angle">depends on the viewing angle</option>
                        </select>
                    </div>

                    <!-- Melts -->
                    <div class="controls">
                        Melts
                        <input type="checkbox" name="widget_properties" id="widget_properties" value="melts"
                                ng-model="newWidget.melts">
                    </div>

                    <!-- Inventory -->
                    <div class="controls">
                        Inventory
                        <input id="widget_count" name="widget_count" type="text" placeholder="#?" class="input-small"
                                ng-model="newWidget.inventory" required
                                ng-pattern="/^[0-9]+$/">
                    </div>
                    <hr>
                    <div class="controls">
                        <button type="submit" class="btn btn-sm btn-info" ng-disabled="widgetCreateForm.$invalid">Create</button>
                        <button type="button" class="btn btn-sm btn-default" ng-click="addNewClicked = false">Cancel</button>
                    </div>
                </form>
            </div><!-- End Widget body -->
        </div><!-- End Widget -->
    </div><!-- End Column -->
</div><!-- End Row -->
