<!-- Create/Edit -->
<div class="row">

    <!-- Widget listing -->
    <div class="col-lg-12">
        <div class="widget">
            <div class="widget-header">Create/Edit Template</div>
            <div class="widget-body">
                <form name="widgetForm" class="form-horizontal" method="post" ng-submit="widgetForm.$valid && AddWidget(widget)">

                    <legend>Create Widget</legend>

                    <!-- Name-->
                    <div class="controls">
                        Name
                        <input id="widget-name" name="widget-name" type="text" placeholder="foo-bar" class="input-medium"
                               ng-model="widget.name" required>
                    </div>

                    <!-- Price -->
                    <div class="controls">
                        <div class="input-prepend">
                            Price
                            <span class="add-on">$</span>
                            <input id="widget-price" name="widget-price" class="input-medium" placeholder="0.00" type="text"
                                   ng-model="widget.price" required>
                        </div>
                    </div>

                    <!-- Color -->
                    <div class="controls">
                        Color
                        <select id="widget-color" name="widget-color" class="input-large" ng-model="widget.color" required>
                            <option value="red">red</option>
                            <option value="purple">purple</option>
                            <option value="black">black</option>
                            <option value="green">green</option>
                            <option value="magenta">magenta</option>
                            <option value="white">white</option>
                            <option value="depends on the viewing angle">depends on the viewing angle</option>
                        </select>
                    </div>

                    <!-- Melts -->
                    <div class="controls">
                        Melts
                        <input type="checkbox" name="widget-properties" id="widget-properties-0" value="melts"
                                ng-model="widget.melts"
                                ng-init="widget.melts = false">
                    </div>

                    <!-- Inventory -->
                    <div class="controls">
                        Inventory
                        <input id="widget-count" name="widget-count" type="text" placeholder="#?" class="input-small"
                                ng-model="widget.inventory" required>
                    </div>
                    <hr>
                    <div class="controls">
                        <button type="submit" class="btn btn-sm btn-info">Create</button>
                        <button type="button" class="btn btn-sm btn-default" ng-click="addNewClicked = false">Cancel</button>
                    </div>
                </form>
            </div><!-- End Widget body -->
        </div><!-- End Widget -->
    </div><!-- End Column -->
</div><!-- End Row -->
